body {
    background-color:black;
}
h1 {
    color:rgba(220, 243, 18, 0.932);
    font-style: italic;
    text-align: center;
    font-family: sans-serif;
}

#btnl {
    padding:10px;
    border-radius:30px;
    background-color: rgba(220, 243, 18, 0.932);;
}
#btnr {
    padding:10px;
    border-radius:30px;
    background-color:rgba(220, 243, 18, 0.932);;
}
img {
    width:200px;
    height:400px;
}
.wrapper {
    margin-left: 250px;
    margin-right: 250px;
}